.root{
    -fx-background-color: #4c5844;
    -fx-font-family: "Carlito";
}

/* IDs del Contenedor Principal y del Canvas */
#rootContainer {
    -fx-border-color: #1a1c17 #7d8a6f #7d8a6f #1a1c17; 
    -fx-border-width: 2;
}

#contenedorMapa {
    -fx-border-color: #444444;    
    -fx-border-width: 3px;        
    -fx-border-style: solid;      
    -fx-background-color: #1E1E1E;
}

#panelMap{
    -fx-background-color: #4c5844;
    -fx-border-color: #5d6d54;
    -fx-border-width: 0 0 0 2;
}

.label{
    -fx-text-fill: #ffffff;
}

.list-view {
    -fx-background-color: #42493b; /* El fondo interno oscuro */
    -fx-border-color: #1a1c17 #7d8a6f #7d8a6f #1a1c17; 
    -fx-border-width: 1 1 1 1; 
    -fx-border-radius: 0; 
}

.list-cell {
    -fx-background-color: transparent;
    -fx-text-fill: #c4b550;
    -fx-font-weight: "Tahoma";
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

/* Estilo Base de Botones */
.button {
    -fx-background-color: #5d6d54; 
    -fx-border-color: #7d8a6f #1a1c17 #1a1c17 #7d8a6f; 
    -fx-border-width: 1 1 1 1;
    -fx-text-fill: #ffffff;
    -fx-background-radius: 0;
    -fx-padding: 8 16 8 16;
}

/* Efecto Mecánico de Hundido NATIVO y para Celdas de la Flota */
.button:pressed {
    -fx-background-color: #3e4537; /* Verde Oliva Oscuro */
    -fx-border-color: #1a1c17 #7d8a6f #7d8a6f #1a1c17; /* Sombra arriba/izq, luz abajo/der */
    -fx-padding: 9 15 7 17; /* Desplazamiento mecánico de 1px del texto */
}

/* NUEVO: Botón de Directiva/Alerta Estático (No presionable, Hundido por defecto) */
.button-directiva:disabled {
    -fx-background-color: #3e4537; 
    -fx-border-color: #1a1c17 #7d8a6f #7d8a6f #1a1c17; 
    -fx-text-fill: #c4b550;
    -fx-opacity: 0.65; /* Atenuado ornamental */
    -fx-padding: 8 16 8 16;
}

/* EL CAMPO DE TEXTO (Relieve Bajo / Hueco) */
.text-field {
    -fx-background-color: #42493b; 
    -fx-border-color: #1a1c17 #7d8a6f #7d8a6f #1a1c17; 
    -fx-border-width: 1;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-text-fill: #e1e1e1; 
    -fx-prompt-text-fill: #ffffff; 
    -fx-padding: 6 8 6 8;
    -fx-font-family: "Tahoma";
}

.text-field:focused {
    -fx-background-color: #2b3027; 
    -fx-border-color: #5d6d54; 
}

.etiqueta-titulo {
    -fx-text-fill: #a0aa95;
    -fx-font-weight: "Tahoma";
}

.marco-dispositivo {
    -fx-background-color: #4c5844;
    -fx-background-insets: 0; 
    -fx-border-color: #5d6d54;
    -fx-border-width: 3px 0 0 0;
    -fx-padding: 15px;
    -fx-alignment: center;
    -fx-opacity: 1.0;
}

